<table id="customers">
    <tr>
        <th>Amount</th>
        <th>Ip</th>
        <th>Location</th>
        <th>Time</th>
        <th>Type</th>
        <th>userName</th>
      </tr>
      <tr *ngFor="let item of transactions;">
        <td>{{ item.amount }}</td>
        <td>{{ item.ip }}</td>
        <td>
           {{item.location?.city}}
           {{item.location?.zipCode}}
           {{item.location?.address}}
        </td>
        <td>{{ item.timestamp | date }}</td>
        <td>{{ item.txnType }}</td>
        <td>{{ item.userName }}</td>
      </tr>
</table>
